<!-- <h3>{{meal.name | uppercase}} Details</h3>
<div><span>id: </span>{{meal.id}}</div>
<div><span>name: </span>{{meal.name}}</div>

<div>
  <label for="name">Meal name: </label>
  <input id="name" [(ngModel)]="meal.name" placeholder="name">
</div> -->

<h2>My Meals</h2>
<ul class="meals">
  <li *ngFor="let meal of meals"
    [class.selected]="meal === selectedMeal"
    (click)="onSelect(meal)">
    <span class="badge">{{meal.id}}</span> {{meal.name}}
  </li>
</ul>

<app-meal-detail [meal]="selectedMeal"></app-meal-detail>
